*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #A09EBB;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width:  18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 irem rgba(0, 0, 0, 0.5) ;
    font-size: 8vmin;
    color: #51513D;
    background-color: #B5D2CB;
}

#restart{
    padding: 1rem;
    font-size: 1.5rem;
    background-color:#1B2021;
    color: #A6A867;
    border-radius: 1rem;
    border: none;

}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color:#1B2021;
    color: #A6A867;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: aliceblue;
    font-size: 8vmin;
}
.msg-winner{
    height: 130vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    
}
.hide{
    display: none;
}